.block-faq {
    padding-top: 60px;
    padding-bottom: 110px;
}

.faq__header {
    margin-bottom: 25px;
}

.faq__header-line {
    padding: 15px;
}

.faq__grid {
    display: grid;
    grid-template-columns: 30px auto 30px;
}

@media (min-width: 768px) {
    .faq__grid {
        grid-template-columns: 16% auto 16%;
    }
}

.faq__all-questions {
    max-width: 800px;
    margin: auto;
}

.faq__question-wrapper {
    padding: 20px 0;
}

.faq__question {
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    font-size: 23px;
    font-weight: 600;    
}

.faq__question-answer {
    font-family: var(--primary-font);
    color: var(--paragraph-text-color);
    font-size: 17px;
    letter-spacing: 0em;
    padding-top: 15px;
}

.faq__question-line hr{
    width: 100%;
    bottom: 0;
    opacity: 0.2;
}