.block-faq {
    padding-top: 60px;
    padding-bottom: 110px;
}

.faq__header {
    margin-bottom: 25px;
}

.faq__header-line {
    padding: 15px;
}

.faq__grid {
    display: grid;
    grid-template-columns: 30px auto 30px;
}

@media (min-width: 768px) {
    .faq__grid {
        grid-template-columns: 16% auto 16%;
    }
}

.faq__all-questions {
    max-width: 800px;
    margin: auto;
}

.faq__question-wrapper {
    padding: 20px 0;
}

.faq__question-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: stretch;
    padding-bottom: 10px;
}

.faq__question {
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    font-size: 23px;
    font-weight: 600;  
    position: relative;
    max-width: calc(100% - 35px);  
    display: block;
}

.faq__question-expand{
    position: relative;
    max-width: 15px;
    height: 15px;
    margin-left: 20px;
    flex-basis: 15px;
    right: 0;
    display: block;
}

.faq__question-expand::before,
.faq__question-expand::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    background-color: var(--primary-text-color);
    transform: translate(-50%,-50%);
    border-radius: 3px;
}

.faq__question-expand::before {
    width: 2px;
    height: 100%;
    transition: height .3s ease;
}

.faq__question-expand::after {
    width: 100%;
    height: 2px;
}

.faq__question-answer {
    font-family: var(--primary-font);
    color: var(--paragraph-text-color);
    font-size: 17px;
    letter-spacing: 0em;
    /* padding-top: 15px; */
    height: 0;
    overflow: hidden;
}

.faq__question-line hr{
    width: 100%;
    bottom: 0;
    opacity: 0.2;
}