.text_form {
    color: #fff;
    position: relative;
    text-align: center;
}
.sub_text_form{
    color: #bababa!important;
}


.button-submit{
    border-color: transparent;
    border-style: solid;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    position: relative;
    max-width: 100%;
    text-decoration: none;
    text-align: center;
    background-position: 50%;
    overflow: visible;
    cursor: pointer;
    box-shadow: 0 0 0 0 transparent;
    background-color: #c09a64;
    color: #fff;
}
.forms{border-color: #bababa;
    background-color: rgb(28, 28, 28);
    color: #FFFFFF;
    --w-get-input-background-color: #111111;
    --w-get-input-color: #FFFFFF;
    display: block;
    width: 100%;
    margin-top: 12px
  
}
.full_name_form input{
    padding-left: 3%;
    height: 39px;
    width: 80%;
    background-color: #111111;
    color: #bababa;
    border-color: transparent;
    margin-top: 2%;
 
}
.full_name_form {
    display: flex;
    justify-content: space-around;
}
.date_form{
    display: flex;
    height: 39px;
    width: 85%;
    background-color: #111111;
    
}
.text_form{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    width: 50%;
    margin: 0 auto;
}
.sub_text_form{
    font-family: 'PT Sans', sans-serif;
}
.main_background_for_form{
    background-image: url("../img/manwithhat.png");
    width: 100%;
    height: 800px;
  
}
.block-form {
    width: 30%;
    background-color: rgb(28, 28, 28);;
}