body.lock {
  overflow: hidden;
}

.header {
  min-width: 320px;
  margin: auto;
  padding: 24px;
  background-image: url(../img/hero-background.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: auto;
}

.nav-logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 auto;
  z-index: 10;
}

.header-clock {
  margin: 0.5rem 5rem auto auto;
  width: 190px;
  font-size: 0.8rem;
  color: var(--secondary-text-color);
}

.nav-burger {
  display: block;
  position: fixed;
  right: 10px;
  width: 24px;
  height: 22px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 5;
}

.nav-burger span,
.nav-burger::before,
.nav-burger::after {
  position: absolute;
  left: 0;
  height: 2.5px;
  width: 100%;
  background-color: var(--primary-text-color);
  transition: all 0.5s ease-in-out;
}

.nav-burger span {
  transform: scale(1);
}

.nav-burger::before,
.nav-burger::after {
  content: " ";
}

.nav-burger::before {
  top: 0;
}

.nav-burger::after {
  bottom: 0;
}

.nav-burger.active span {
  transform: scale(0);
}

.nav-burger.active::before {
  top: 50%;
  transform: rotate(-405deg);
}

.nav-burger.active::after {
  bottom: 40%;
  transform: rotate(405deg);
}

.nav-wrapper {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  z-index: 2;
  padding: 15px 24px 50px 24px;
  transition: top 0.3s ease-in 0.1s;
  overflow: hidden;
  margin: auto;
}

.nav-wrapper.active {
  top: 0;
}

.header__nav.active {
  top: 0;
}

.nav-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  z-index: 10;
  padding-top: 100px;
  padding-inline-start: 0px;
}

.header__logo-image {
  width: 174px;
  height: 59.2px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin: auto;
}

.nav-menu__item {
  margin: auto 10px;
  text-align: center;
  list-style: none;
  line-height: 42px;
}

.nav-menu__link {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 3rem;
  color: inherit;
  font-family: var(--primary-font);
}

.nav-menu__link:hover {
  color: var(--secondary-text-color);
}

@media (min-width: 991px) {
  body.lock {
    overflow: visible;
  }

  .header {
  max-width: 1200px;
  }

  .nav-menu {
    flex-direction: row;
    padding-top: 0;
  }

  .nav-logo {
    min-width: 385px;
  }

  .header-clock {
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-menu__link {
    font-size: 1rem;
    line-height: 2rem;
  }

  .nav-burger {
    display: none;
  }

  .nav-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    z-index: 10;
  }

  .nav-menu__link {
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
  }
}