.testimonials__block{
    max-width: 500px;
    background-color: #1c1c1c;
    color:#b8b8b8;
    height: 300px;
    text-align: left;
    padding: 30px;
    font-size: 17px;
    position: relative;
    left: 180px;
    top: 220px;
    

    
}

.testimonials__block span{
    font-size: 14px;
    color: #c09a64;
  
}

.testimonials__block h3{
font-size: 45px;
color: #ffffff;
}

.photo-testimonials-amanda{
    margin: 0 auto;
    max-width: 1550px;
    min-height: 720px;
    background-image: url(../img/testimonial-amanda-li.png);
    background-size: cover;
    position: relative;
    display: block;
    background-position: 40% 0;
    
}

.photo-testimonials-sam{
    margin: 0 auto;
    max-width: 1550px;
    min-height: 720px;
    background-image: url(../img/testimonial-sam-hoe.png);
    background-size: cover;
    position: relative;
    display: block;
    background-position: 40% 0;
}

.photo-testimonials-diana{
    margin: 0 auto;
    max-width: 1550px;
    min-height: 720px;
    background-image: url(../img/testimonial-diana-peterson.png);
    background-size: cover;
    position: relative;
    display: block;
    background-position: 40% 30%;
}