#works {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.latest-work__title {
    font-family: var(--secondary-font);
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .05em;
}

.latest-work__line {
    height: 1px;
    width: 10%;
    background-color: var(--line-color);
    margin: 15px auto 15px auto;
}

.latest-work__text {
    text-transform: uppercase;
    font-family: var(--primary-font);
    color: var(--paragraph-text-color);
    font-size: 14px;
}

.latest-work__photos {
    margin-top: 45px;
}