#works {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.latest-work__title {
    font-family: var(--secondary-font);
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .05em;
}

.latest-work__line {
    height: 1px;
    width: 10%;
    background-color: var(--line-color);
    margin: 15px auto 15px auto;
}

.latest-work__text {
    text-transform: uppercase;
    font-family: var(--primary-font);
    color: var(--paragraph-text-color);
    font-size: 14px;
}

.latest-work__photos {
    margin-top: 45px;
}

/* Slideshow container */
.latest-work__photos {
    max-width: 1170px;
    position: relative;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* Fading animation */
  .latest-work__fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
  }